.button{
    display: flex;
    justify-content: center;
    background-color: #090909;
    padding: 10px;
    margin:1px;
    color: white;
    cursor: pointer;
    user-select:none;
    text-decoration: none;
}
.button:hover{
    
    background-color: #2F2E41;
}
.button:active{
    background-color: #FFBB33;
    color:black;
}