.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #090909;
    margin-bottom: 50px;
    padding: 0px 20px 0px 20px;
}
.list{
    display: flex;
}
.list>li{
    margin-left: 10px;
    list-style: none;
}
.list>li>a{
    display:block;
    text-decoration: none;
    color:aliceblue;
    padding: 10px;
    
}
.logo{
    margin: 10px;
    margin-left: 5%;
}